.bg-white{
  background-color: white;
}

.text-white {
  color: white;
}

.jointwork {
  font-size: 70%;
}

.presentation-title {
  font-weight: 200 !important;
  font-size: 200% !important;
  margin-bottom: 40pt !important;
  text-align: center;
}
