/imgs
/target
/data
flamegraph.svg
bench.sqlite
.trace.*
*.db
*.png
*.csv
.ipynb_checkpoints/
.vscode/
*.pdf
/SCAMP
attimo-results.db*
attimo-results.sqlite*
dists.jl
mp_columns_out
mp_columns_out_index
perf.data
perf.data.old
*.log
.DS_Store
/_targets
*.jl
LL
mk_l
presentation/__pycache__
presentation/index.html
poster/node_modules
docs/poster/node_modules
docs/presentation/__pycache__
docs/presentation/ecg.csv.gz
docs/presentation/index.ipynb
docs/presentation/algo.aux
docs/presentation/algo.fdb_latexmk
docs/presentation/algo.fls
docs/presentation/algo.svg
docs/presentation/algo.synctex.gz
profile.pb
profile*.svg
pyattimo/ecg.csv.gz
