/target
/data
flamegraph.svg
/docs
bench.sqlite
.trace.*
*.db
*.png
*.csv
.ipynb_checkpoints/
.vscode/
*.pdf
/SCAMP
attimo-results.db*
attimo-results.sqlite*
dists.jl
*.html
mp_columns_out
mp_columns_out_index
perf.data
perf.data.old
*.log
.DS_Store
/_targets