body{
  width: 84cm;
  height: 119cm;
}

header {
  height: 10%;
}

main {
  height: 90%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .card {
    @apply bg-white p-10 text-4xl border-2 border-black flex-grow;
  }
  .card > h1 {
    @apply text-5xl mb-4 font-normal;
  }
  .card {
    @apply font-light;
  }
  tbody>tr {
    @apply border-b-2 border-t-2 border-slate-700;
  }
  thead>tr {
    @apply border-b-4 border-t-4 border-slate-700;
  }
  th, td {
    @apply pt-2 pb-2;
  }
}
